# Environment variables
.env
!.devcontainer/.env

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage/

# Dependency directories
vendor/

# Go workspace file
go.work
